@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

/*Sidebar*/
.sidebar {
  width: 32%;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
  position: fixed;
  background-color: white;
  padding: 3rem;
}
.name {
  font-weight: 800;
  font-size: 38px;
}
.introduction {
  margin: 0;
}
.full-name {
  text-transform: uppercase;
  margin: 0;
  line-height: 1.1;
  font-weight: 800;
  width: 210px;
  font-size: 50px;
  background-color: whitesmoke;
  padding: 4px 9px;
}
.info {
  color: #5a6066;
  font-family: "Source Code Pro", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.sidebar-content {
  display: flex;
  align-items: center;
}

/*Main*/
.main {
  background-color: #aaffa7;
  overflow: auto;
  height: 500px;
}
.main-2 {
  height: 400px;
  background-color: lightskyblue;
}

.projects {
  width: 100% !important;
  z-index: 4;
  height: 500px;
  background-color: lightcoral;
  position: relative;
}

.contact {
  background-color: hotpink;
  height: 100vh;
}
